@font-face {
  font-family: 'icomoon';
  src:  url('/fonts/icomoon.eot?f63npv');
  src:  url('/fonts/icomoon.eot?f63npv#iefix') format('embedded-opentype'),
    url('/fonts/icomoon.ttf?f63npv') format('truetype'),
    url('/fonts/icomoon.woff?f63npv') format('woff'),
    url('/fonts/icomoon.svg?f63npv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-couchdb-icon:before {
  content: "\e935";
  color: #e42528;
}
.icon-amazonaws:before {
  content: "\e900";
}
.icon-audible:before {
  content: "\e906";
  color: #f8991c;
}
.icon-bootstrap:before {
  content: "\e908";
  color: #563d7c;
}
.icon-c:before {
  content: "\e909";
  color: #a8b9cc;
}
.icon-cpanel:before {
  content: "\e90b";
  color: #ff6c2c;
}
.icon-css3:before {
  content: "\e90d";
  color: #1572b6;
}
.icon-django:before {
  content: "\e90e";
}
.icon-docker:before {
  content: "\e90f";
  color: #1488c6;
}
.icon-flask:before {
  content: "\e926";
}
.icon-git:before {
  content: "\e927";
  color: #f05032;
}
.icon-github:before {
  content: "\e912";
}
.icon-gmail:before {
  content: "\e913";
  color: #d14836;
}
.icon-googlecloud:before {
  content: "\e915";
  color: #4285f4;
}
.icon-googleplay:before {
  content: "\e928";
  color: #607d8b;
}
.icon-hashnode:before {
  content: "\e929";
  color: #2962ff;
}
.icon-html5:before {
  content: "\e916";
  color: #e34f26;
}
.icon-java:before {
  content: "\e92a";
  color: #007396;
}
.icon-javascript:before {
  content: "\e92b";
  color: #f7df1e;
}
.icon-jira:before {
  content: "\e919";
}
.icon-linkedin:before {
  content: "\e91a";
  color: #0077b5;
}
.icon-medium:before {
  content: "\e91b";
}
.icon-mongodb:before {
  content: "\e92e";
  color: #47a248;
}
.icon-mysql:before {
  content: "\e91c";
  color: #4479a1;
}
.icon-netflix:before {
  content: "\e91d";
  color: #e50914;
}
.icon-node-dot-js:before {
  content: "\e91f";
  color: #393;
}
.icon-php:before {
  content: "\e920";
  color: #777bb4;
}
.icon-python:before {
  content: "\e921";
  color: #3776ab;
}
.icon-quora:before {
  content: "\e922";
  color: #b92b27;
}
.icon-stackoverflow:before {
  content: "\e923";
  color: #fe7a16;
}
.icon-twitter:before {
  content: "\e92d";
  color: #1da1f2;
}
.icon-udemy:before {
  content: "\e937";
  color: #ec5252;
}
.icon-vue-dot-js:before {
  content: "\e924";
  color: #4fc08d;
}
.icon-ycombinator:before {
  content: "\e933";
  color: #f0652f;
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-share:before {
  content: "\ea7d";
}
