@font-face {
  font-family: 'icomoon';
  src:  url('/fonts/icomoon.eot?h28pf0');
  src:  url('/fonts/icomoon.eot?h28pf0#iefix') format('embedded-opentype'),
    url('/fonts/icomoon.ttf?h28pf0') format('truetype'),
    url('/fonts/icomoon.woff?h28pf0') format('woff'),
    url('/fonts/icomoon.svg?h28pf0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-amazonaws:before {
  content: "\e900";
}
.icon-anaconda:before {
  content: "\e901";
  color: #42b029;
}
.icon-angular:before {
  content: "\e902";
  color: #dd0031;
}
.icon-apple:before {
  content: "\e903";
  color: #999;
}
.icon-atlassian:before {
  content: "\e904";
  color: #0052cc;
}
.icon-atom:before {
  content: "\e905";
  color: #66595c;
}
.icon-audible:before {
  content: "\e906";
  color: #f8991c;
}
.icon-bitbucket:before {
  content: "\e907";
  color: #0052cc;
}
.icon-bootstrap:before {
  content: "\e908";
  color: #563d7c;
}
.icon-c:before {
  content: "\e909";
  color: #a8b9cc;
}
.icon-confluence:before {
  content: "\e90a";
}
.icon-cpanel:before {
  content: "\e90b";
  color: #ff6c2c;
}
.icon-cplusplus:before {
  content: "\e90c";
  color: #00599c;
}
.icon-css3:before {
  content: "\e90d";
  color: #1572b6;
}
.icon-django:before {
  content: "\e90e";
}
.icon-docker:before {
  content: "\e90f";
  color: #1488c6;
}
.icon-facebook:before {
  content: "\e910";
  color: #1877f2;
}
.icon-flask:before {
  content: "\e926";
}
.icon-flutter:before {
  content: "\e911";
  color: #02569b;
}
.icon-git:before {
  content: "\e927";
  color: #f05032;
}
.icon-github:before {
  content: "\e912";
}
.icon-gmail:before {
  content: "\e913";
  color: #d14836;
}
.icon-google:before {
  content: "\e914";
  color: #4285f4;
}
.icon-googlecloud:before {
  content: "\e915";
  color: #4285f4;
}
.icon-googleplay:before {
  content: "\e928";
  color: #607d8b;
}
.icon-hashnode:before {
  content: "\e929";
  color: #2962ff;
}
.icon-html5:before {
  content: "\e916";
  color: #e34f26;
}
.icon-inkscape:before {
  content: "\e917";
}
.icon-java:before {
  content: "\e92a";
  color: #007396;
}
.icon-javascript:before {
  content: "\e92b";
  color: #f7df1e;
}
.icon-jetbrains:before {
  content: "\e931";
}
.icon-jira:before {
  content: "\e919";
}
.icon-kotlin:before {
  content: "\e930";
  color: #0095d5;
}
.icon-linkedin:before {
  content: "\e91a";
  color: #0077b5;
}
.icon-medium:before {
  content: "\e91b";
}
.icon-mongodb:before {
  content: "\e92e";
  color: #47a248;
}
.icon-mysql:before {
  content: "\e91c";
  color: #4479a1;
}
.icon-netflix:before {
  content: "\e91d";
  color: #e50914;
}
.icon-netlify:before {
  content: "\e91e";
  color: #00c7b7;
}
.icon-node-dot-js:before {
  content: "\e91f";
  color: #393;
}
.icon-php:before {
  content: "\e920";
  color: #777bb4;
}
.icon-postgresql:before {
  content: "\e92f";
  color: #336791;
}
.icon-python:before {
  content: "\e921";
  color: #3776ab;
}
.icon-quora:before {
  content: "\e922";
  color: #b92b27;
}
.icon-stackoverflow:before {
  content: "\e923";
  color: #fe7a16;
}
.icon-twilio:before {
  content: "\e92c";
  color: #f22f46;
}
.icon-twitter:before {
  content: "\e92d";
  color: #1da1f2;
}
.icon-visualstudiocode:before {
  content: "\e932";
  color: #007acc;
}
.icon-vue-dot-js:before {
  content: "\e924";
  color: #4fc08d;
}
.icon-ycombinator:before {
  content: "\e933";
  color: #f0652f;
}
.icon-zendesk:before {
  content: "\e925";
}
.icon-bubbles4:before {
  content: "\e970";
}
.icon-user:before {
  content: "\e971";
}
.icon-checkmark:before {
  content: "\ea10";
}
